<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=pageName%></title>
    <link type="text/css" rel="stylesheet" href="/style/editor.css">
    <script type="text/javascript" src="/script/editorScript.js"></script>
</head>
<body>
    <div style="width: 100%; display: flex; justify-content: center;">
        <div style="padding: 10px 20px; border: 1px solid black; width: 1500PX;">
            <div class="button-area">
                <div style="display: flex; align-items: center;">
                    <h2 class="fileName" style="font-weight: 600;"></h2>
                </div>
                <div>
                    <button id="pdfBtn" class="editor-button">pdf</button>
                    <button id="hwpBtn" class="editor-button">hwp</button>
                    <button id="newBtn" class="editor-button">신규</button>
                    <button id="saveBtn" class="editor-button">저장</button>
                    <button id="updateBtn" class="editor-button">수정</button>
                    <button id="loadBtn" class="editor-button">불러오기</button>
                </div>
            </div>
            <div class="contents-section">
                <div>
                    <textarea id="editor" style="width:1455PX;height:700px;"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script id="load_dialog_template" type="x-tmpl-mustache">
    <div>
        {{#fileData}}
            <ul>
                <li>
                    <a name="load_link" href="#" style="text-decoration: underline;">{{fileName}}</a>
                </li>
                <li style="max-width: 30px;">
                    <button class="delete_load" style="cursor:pointer;">-</button>
                </li>
            </ul>
        {{/fileData}}
    </div>
</script>