<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=pageName%></title>
    <link type="text/css" rel="stylesheet" href="/style/careerCalculator.css">
    <script type="text/javascript" src="/script/careerCalculatorScript.js"></script>
</head>
<body>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <div class="careerCalculator-header">
            <h1 class="careerCalculator-header-h1">
                <span class="careerCalculator-header-logo"><%=pageName%></span>
                <span class="careerCalculator-header-divider"></span>
                <span class="careerCalculator-header-loadFileInfo fileName"></span>
                <span class="careerCalculator-header-divider"></span>
                <span class="careerCalculator-header-loadFileInfo regDate"></span>
            </h1>
        </div>
        <div style="padding: 10px 20px; border: 1px solid black; background: #dbdbdb8c; margin-bottom: 50px;">
            <div class="button-area">
                <div>
                    <button name="addRowBtn" type="education" style="background: #297063;">학력사항 추가</button>
                    <button name="addRowBtn" type="career" style="background: #297063;">경력사항 추가</button>
                </div>
                <div>
                    <button id="setSampleBtn" style="background: #34459f;">Sample Set</button>
                    <button id="resetBtn" style="background: #34459f;">초기화</button>
                    <button id="saveBtn" style="background: #34459f;">저장</button>
                    <button id="loadBtn" style="background: #34459f;">불러오기</button>
                    <button id="setResultBtn" style="background: #34459f;">경력계산</button>
                </div>
            </div>
            <div class="contents-section">
                <div>
                    <h2>학력사항</h2>
                    <table class="education-table">
                        <colgroup>
                            <col style="width:5%;"/>
                            <col style="width:40%;"/>
                            <col style="width:25%;"/>
                            <col style="width:25%;"/>
                            <col style="width:5%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>no</th>
                                <th>학력명</th>
                                <th><span style="color: red;">*</span>시작날짜</th>
                                <th><span style="color: red;">*</span>종료날짜</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h2>경력사항</h2>
                    <table class="career-table">
                        <colgroup>
                            <col style="width:5%;"/>
                            <col style="width:33%;"/>
                            <col style="width:13%;"/>
                            <col style="width:22%;"/>
                            <col style="width:22%;"/>
                            <col style="width:5%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>no</th>
                                <th>경력명</th>
                                <th><span style="color: red;">*</span>경력유형</th>
                                <th><span style="color: red;">*</span>시작날짜</th>
                                <th><span style="color: red;">*</span>종료날짜</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="result-area">
                </div>
                <div>
                    <h2>메모/첨부파일</h2>
                    <table class="memo-table">
                        <colgroup>
                            <col style="width:10%;"/>
                            <col style="width:90%;"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>메모</th>
                                <td>
                                    <textarea id="editor" style="width:98%;height:200px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>첨부파일</th>
                                <td>
                                    <div id="fileuploader" style="margin:5px;"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
