h2 {
    font-size: 11pt;
    font-weight: bold;
}

.result-table
, .career-table
, .education-table
{
    width: 800px;
    border-collapse: collapse;
}

table thead {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.05em;
    color: #666;
    background: #f4f4f4;
}

table thead tr {
    background-color: #f2f7fc !important;
    height: 25px !important;
    border-top: 2px solid #0043a0 !important;
}

table thead tr th {
    font-size: 10pt;
    border-top: 2px solid #0043a0;
    border-bottom: 1px solid #0043a0;
    border-left: 1px solid #8e8b7a;
    border-right: 1px solid #8e8b7a;
    color: #0043c0;
    vertical-align: middle;
}


table tbody tr {
    background-color: white;
    height: 25px;
}

table tbody tr td {
    font-size: 9pt;
    text-align: center;
    border-bottom: 1px solid #8e8b7a;
    border-left: 1px solid #8e8b7a;
    border-right: 1px solid #8e8b7a;
    vertical-align: middle;
    line-height: 1.5;
}

table tbody tr th {
    font-size: 10pt;
    text-align: center;
    border-bottom: 1px solid #8e8b7a;
    border-left: 1px solid #8e8b7a;
    border-right: 1px solid #8e8b7a;
    color: #0043c0;
    line-height: 1.5;
}

.button-area {
    display: flex;
    justify-content: space-between;
}

.button-area button {
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    padding: 1px 5px;
}

.search-input {
    width: 95%;
    border: 1px solid black;
}

.dupl-list {
    margin-right: 5px;
    line-height: 2;
    color: #d75959;
    font-weight: bold;
}

.search-date {
    width: 95%;
    text-align: center;
    border: 1px solid black;
}

.search-select {
    width: 95%;
    text-align: center;
}

.dupl-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 0;
}

.dupl-table {
    border-collapse: collapse;
}

.dupl-table td.no {
    color: #0043c0;
    font-weight: 600;
}

.contents-section > div {
    margin-top: 10px;
}

.contents-section > div > h2 {
    margin-bottom: 10px;
}

.result-table {
    margin-top: 10px;
}

