h2 {
    font-size: 11pt;
    font-weight: bold;
}

.result-table
, .career-table
, .education-table
{
    width: 800px;
    border-collapse: collapse;
}

table thead {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.05em;
    color: #666;
    background: #f4f4f4;
}

table thead tr {
    background-color: #f2f7fc !important;
    height: 25px !important;
    border-top: 2px solid #0043a0 !important;
}

table thead tr th {
    font-size: 10pt;
    border-top: 2px solid #0043a0;
    border-bottom: 1px solid #0043a0;
    border-left: 1px solid #8e8b7a;
    border-right: 1px solid #8e8b7a;
    color: #0043c0;
    vertical-align: middle;
}


table tbody tr {
    background-color: white;
    height: 25px;
}

table tbody tr td {
    font-size: 9pt;
    text-align: center;
    border-bottom: 1px solid #8e8b7a;
    border-left: 1px solid #8e8b7a;
    border-right: 1px solid #8e8b7a;
    vertical-align: middle;
}

table tbody tr th {
    font-size: 10pt;
    text-align: center;
    border-bottom: 1px solid #8e8b7a;
    border-left: 1px solid #8e8b7a;
    border-right: 1px solid #8e8b7a;
    color: #0043c0;
}

.button-area button {
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    padding: 1px 5px;
}

.search-input {
    width: 95%;
    border: 1px solid black;
}

.dupl-list {
    margin-right: 5px;
    line-height: 2;
    color: #d75959;
    font-weight: bold;
}

.search-date {
    width: 95%;
    text-align: center;
    border: 1px solid black;
}

.search-select {
    width: 95%;
    text-align: center;
}

.delRowBtn
, .delete_load
{
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    padding: 1px 5px;
    background: #34459f;
}

.dupl-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 0;
}

.dupl-table {
    border-collapse: collapse;
}

.dupl-table td.no {
    color: #0043c0;
    font-weight: 600;
}

#load_dialog div {
    height: 30vh;
    border: 1px solid #dddfe5!important;
    overflow: auto;
    width: auto;
    position: relative;
}

#load_dialog div ul {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    flex: 1;
    transition: .3s;
    list-style: none;
    margin: 0;
    padding: 0;
}

#load_dialog div ul li {
    /* padding: 3px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    width: 100%;
    height: 100%;
    flex: 1;
    border: 1px solid rgba(83, 99, 119, 0.2);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.05em;
    color: #666;
}

.ui-dialog-titlebar {
    border: 1px solid #4297d7;
    background: #2191c0 url(images/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
    color: #eaf5f7;
    font-weight: bold;
}

.ui-widget .ui-widget {
    font-size: 13px;
    font-weight: bold;
    background: #2191c0 url(images/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
    color: #eaf5f7;
}

.ui-button .ui-icon {
    background-color: white;
}

.ui-dialog .ui-dialog-buttonpane {
    margin: 0;
    padding: 0;
}

#file_name {
    font-size: 11pt;
    width: 200px
}

#save_dialog {
    min-height: 0px !important;
}

.contents-section > div {
    margin-top: 10px;
}

.contents-section > div > h2 {
    margin-bottom: 10px;
}

.result-table {
    margin-top: 10px;
}