<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>upload</title>
    <link type="text/css" rel="stylesheet" href="/style/upload.css">
    <script type="text/javascript" src="/script/uploadScript.js"></script>
</head>
<body>
    <div style="width: 100%; display: flex; justify-content: center;">
        <div style="padding: 10px 20px; border: 1px solid black; width: 1500PX;">
            <div class="contents-section">
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>