<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=pageName%></title>
    <link type="text/css" rel="stylesheet" href="/style/editor.css">
    <script type="text/javascript" src="/script/studyScript.js"></script>
</head>
<body>
    <div style="width: 100%; display: flex; justify-content: center;">
        <div style="padding: 10px 20px; border: 1px solid black; width: 1500PX;">
            <div class="button-area">
                <div style="display: flex; align-items: center;">
                    <h2 class="fileName" style="font-weight: 600;"><%=pageName%></h2>
                </div>
                <div>
                    <button id="pdfBtn" class="editor-button">pdf</button>
                    <button id="updateBtn" class="editor-button">수정</button>
                </div>
            </div>
            <div class="contents-section">
                <div>
                    <textarea id="editor" style="width:1455PX;height:700px;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="category" value="<%=category%>"/>
    <input type="hidden" id="page" value="<%=page%>"/>
</body>
</html>

<script>

const log = console.log;

// 동기 처리와 비동기 처리

// 자바스크립트 엔진은 단 하나의 실행 컨텍스트 스택을 갖는다.

// 동시에 2개 이상의 함수를 동시에 실행할 수 없다는 것ㅇ르 의미
// 실행 중인 실행 컨택스트를 제외한 모든 실행 컨텍스트는 모두 실행 대기 중인 태스크 들이다.
// 싱글 스레드 방식으로 동작한다.
// 블로킹이 발생한다.

function sleep(func, delay) {
    const delayUntil = Date.now() + delay;
    while(Date.now() < delayUntil);

    func();
}

function foo() {
    log('foo');
}

function bar() {
    log('bar');
}

sleep(foo, 3*1000);








</script>