<section class="sidebar-section">
    <ul class="sidebar-nav">
        <li class="sidebar-title">모던 자바스크립트 Deep Dive</li>
        <li class="sidebar-link study" page="/study/modernJavascriptDeepDive/study1"><a href="javascript:void(0);">비동기 프로그래밍</a></li>

        <li class="sidebar-title">Application</li>
        <li class="sidebar-link selected" page="/careerCalculator"><a href="javascript:void(0);">경력 계산기</a></li>
        <!-- <li class="sidebar-link" page="/loginHistoryCheck"><a href="javascript:void(0);">로그인 기록 체크</a></li> -->

        <li class="sidebar-link" page="/editor"><a href="javascript:void(0);">Editor / pdf,hwp export</a></li>
        <li class="sidebar-link" page="/file/uploadPage"><a href="javascript:void(0);">upload api</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">eChart</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">fusionChart</a></li>

        <li class="sidebar-title">React</li>
        <li class="sidebar-title sub"> - 주요개념</li>
        <li class="sidebar-link study" page="/study/react/react2"><a href="javascript:void(0);">JSX 소개</a></li>
        <li class="sidebar-link study" page="/study/react/react3"><a href="javascript:void(0);">엘리먼트 렌더링</a></li>
        <li class="sidebar-link study" page="/study/react/react4"><a href="javascript:void(0);">Component와 Props</a></li>
        <li class="sidebar-link study" page="/study/react/react5"><a href="javascript:void(0);">State와 생명주기</a></li>
        <li class="sidebar-link study" page="/study/react/react6"><a href="javascript:void(0);">이벤트 처리하기</a></li>
        <li class="sidebar-link study" page="/study/react/react7"><a href="javascript:void(0);">조건부 렌더링</a></li>
        <li class="sidebar-link study" page="/study/react/react8"><a href="javascript:void(0);">리스트와 Key</a></li>
        <li class="sidebar-link study" page="/study/react/react9"><a href="javascript:void(0);">폼</a></li>
        <li class="sidebar-link study" page="/study/react/react10"><a href="javascript:void(0);">State 끌어올리기</a></li>
        <li class="sidebar-link study" page="/study/react/react11"><a href="javascript:void(0);">합성 vs 상속</a></li>
        <li class="sidebar-title sub"> - 고급 안새서</li>


        <li class="sidebar-title">TypeScript (HandBook)</li>
        <li class="sidebar-link study" page="/study/typescript/typescript1"><a href="javascript:void(0);">기본 타입</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript2"><a href="javascript:void(0);">인터페이스</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript3"><a href="javascript:void(0);">함수</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript4"><a href="javascript:void(0);">리터럴 타입</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript5"><a href="javascript:void(0);">유니언과 교차 타입</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript6"><a href="javascript:void(0);">클래스</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript7"><a href="javascript:void(0);">열거형</a></li>
        <li class="sidebar-link study" page="/study/typescript/typescript8"><a href="javascript:void(0);">제네릭</a></li>

        <li class="sidebar-title">Modern Javascript</li>
        <li class="sidebar-link study" page="/study/javascript/summary"><a href="javascript:void(0);">요약</a></li>
        <li class="sidebar-link study" page="/study/javascript/etc1"><a href="javascript:void(0);">기타</a></li>

        <li class="sidebar-link study" page="/study/javascript/designPattern"><a href="javascript:void(0);">디자인 패턴</a></li>

        <li class="sidebar-title sub"> - 과제</li>
        <li class="sidebar-link study" page="/study/javascript/question1"><a href="javascript:void(0);">자바스크립트 기본</a></li>

        <li class="sidebar-title sub"> - 자바스크립트 기본</li>
        <li class="sidebar-link study" page="/study/javascript/logicalOperators"><a href="javascript:void(0);">논리 연산자</a></li>
        <li class="sidebar-link study" page="/study/javascript/nullishCoalescingOperator"><a href="javascript:void(0);">nullish 병합 연산자 '??'</a></li>
        <li class="sidebar-link study" page="/study/javascript/function"><a href="javascript:void(0);">함수</a></li>
        <li class="sidebar-link study" page="/study/javascript/arrowFunctionsTheBasics"><a href="javascript:void(0);">화살표 함수 기본</a></li>

        <li class="sidebar-title sub"> - 객체: 기본</li>
        <li class="sidebar-link study" page="/study/javascript/objectReferencesAndCopying"><a href="javascript:void(0);">참조에 의한 객체 복사</a></li>
        <li class="sidebar-link study" page="/study/javascript/garbageCollection"><a href="javascript:void(0);">가비지 컬렉션</a></li>
        <li class="sidebar-link study" page="/study/javascript/objectMethodsAndThis"><a href="javascript:void(0);">메서드와 this</a></li>
        <li class="sidebar-link study" page="/study/javascript/constructorAndOperatorNew"><a href="javascript:void(0);">new 연산자와 생성자 함수</a></li>
        <li class="sidebar-link study" page="/study/javascript/optionalChaining"><a href="javascript:void(0);">옵셔널 체이닝 '?.'</a></li>

        <li class="sidebar-title sub"> - 자료구조와 자료형</li>
        <li class="sidebar-link study" page="/study/javascript/methodsOfPrimitives"><a href="javascript:void(0);">원시값의 메서드</a></li>
        <li class="sidebar-link study" page="/study/javascript/numbers"><a href="javascript:void(0);">숫자형</a></li>
        <li class="sidebar-link study" page="/study/javascript/strings"><a href="javascript:void(0);">문자열</a></li>
        <li class="sidebar-link study" page="/study/javascript/arrays"><a href="javascript:void(0);">배열</a></li>
        <li class="sidebar-link study" page="/study/javascript/arrayMethods"><a href="javascript:void(0);">배열과 메서드</a></li>
        <li class="sidebar-link study" page="/study/javascript/iterables"><a href="javascript:void(0);">iterable 객체</a></li>
        <li class="sidebar-link study" page="/study/javascript/mapAndSet"><a href="javascript:void(0);">맵과 셋</a></li>
        <li class="sidebar-link study" page="/study/javascript/weakMapAndWeakset"><a href="javascript:void(0);">위크맵과 위크셋</a></li>
        <li class="sidebar-link study" page="/study/javascript/objectKeysAndValuesAndEntries"><a href="javascript:void(0);">Object.keys, values, entries</a></li>
        <li class="sidebar-link study" page="/study/javascript/destructuringAssignment"><a href="javascript:void(0);">구조 분해 할당</a></li>
        <li class="sidebar-link study" page="/study/javascript/dateAndTime"><a href="javascript:void(0);">Date 객체와 날짜</a></li>
        <li class="sidebar-link study" page="/study/javascript/jsonMethodsToJson"><a href="javascript:void(0);">JSON과 메서드</a></li>

        <li class="sidebar-title sub"> - 함수 심화학습</li>
        <li class="sidebar-link study" page="/study/javascript/recursionAndStack"><a href="javascript:void(0);">재귀와 스택</a></li>
        <li class="sidebar-link study" page="/study/javascript/restParametersAndSpreadSyntax"><a href="javascript:void(0);">나머지 매개변수와 스프레드 문법</a></li>
        <li class="sidebar-link study" page="/study/javascript/variableScopeAndClosure"><a href="javascript:void(0);">변수의 유효범위와 클로저</a></li>
        <li class="sidebar-link study" page="/study/javascript/theOldVar"><a href="javascript:void(0);">오래된 var</a></li>
        <li class="sidebar-link study" page="/study/javascript/globalObject"><a href="javascript:void(0);">전역객체</a></li>
        <li class="sidebar-link study" page="/study/javascript/functionObjectAndNFE"><a href="javascript:void(0);">객체로서의 함수와 기명함수표현식</a></li>
        <li class="sidebar-link study" page="/study/javascript/theNewFunctionSyntax"><a href="javascript:void(0);">new Function 문법</a></li>
        <li class="sidebar-link study" page="/study/javascript/schedulingSetTimeoutAndSetInterval"><a href="javascript:void(0);">setTimeout과 setInterval을 이용한 호출 스케줄링</a></li>
        <li class="sidebar-link study" page="/study/javascript/decoratorsAndForwardingCallApply"><a href="javascript:void(0);">call/apply와 데코레이터, 포워딩</a></li>
        <li class="sidebar-link study" page="/study/javascript/functionBinding"><a href="javascript:void(0);">함수 바인딩</a></li>
        <li class="sidebar-link study" page="/study/javascript/arrowFunctionsRevisited"><a href="javascript:void(0);">화살표 함수 다시 살펴보기</a></li>

        <li class="sidebar-title sub"> - 객체 프로퍼티 설정</li>
        <li class="sidebar-link study" page="/study/javascript/propertyFlagsAndDescriptors"><a href="javascript:void(0);">프로퍼티 플래그와 설명자</a></li>
        <li class="sidebar-link study" page="/study/javascript/propertyGettersAndSetters"><a href="javascript:void(0);">프로퍼티 getter와 setter</a></li>

        <li class="sidebar-title sub"> - 프로토타입과 프로토타입 상속</li>
        <li class="sidebar-link study" page="/study/javascript/prototypalInheritance"><a href="javascript:void(0);">프로토타입 상속</a></li>
        <li class="sidebar-link study" page="/study/javascript/functionPrototype"><a href="javascript:void(0);">함수의 prototype 프로퍼티</a></li>
        <li class="sidebar-link study" page="/study/javascript/nativePrototypes"><a href="javascript:void(0);">내장 객체의 프로토타입</a></li>
        <li class="sidebar-link study" page="/study/javascript/prototypeMethodsAndObjectsWithoutProto"><a href="javascript:void(0);">프로토타입 메서드와 __proto__가 없는 객체</a></li>

        <li class="sidebar-title sub"> - 클래스</li>
        <li class="sidebar-link study" page="/study/javascript/classBasicSyntax"><a href="javascript:void(0);">클래스와 기본 문법</a></li>
        <li class="sidebar-link study" page="/study/javascript/classInheritance"><a href="javascript:void(0);">클래스 상속</a></li>
        <li class="sidebar-link study" page="/study/javascript/staticPropertiesAndMethods"><a href="javascript:void(0);">정적 메서드와 정적 프로퍼티</a></li>
        <li class="sidebar-link study" page="/study/javascript/privateAndProtectedPropertiesAndMethods"><a href="javascript:void(0);">private, protected 프로퍼티와 메서드</a></li>
        <li class="sidebar-link study" page="/study/javascript/extendingBuiltInClasses"><a href="javascript:void(0);">내장 클래스 확장하기</a></li>
        <li class="sidebar-link study" page="/study/javascript/classCheckingInstanceof"><a href="javascript:void(0);">'instanceof'로 클래스 확인하기</a></li>
        <li class="sidebar-link study" page="/study/javascript/mixins"><a href="javascript:void(0);">믹스인</a></li>

        <li class="sidebar-title sub"> - 에러 핸들링</li>
        <li class="sidebar-link study" page="/study/javascript/errorHandlingTryCatch"><a href="javascript:void(0);">'try..catch'와 에러 핸들링</a></li>
        <li class="sidebar-link study" page="/study/javascript/customErrorsExtendingError"><a href="javascript:void(0);">커스텀 에러와 에러 확장</a></li>

        <li class="sidebar-title sub"> - 프라미스와 async, await</li>
        <li class="sidebar-link study" page="/study/javascript/callbacks"><a href="javascript:void(0);">Callback</a></li>
        <li class="sidebar-link study" page="/study/javascript/promise"><a href="javascript:void(0);">Promise</a></li>
        <li class="sidebar-link study" page="/study/javascript/promisesChaining"><a href="javascript:void(0);">Promise Chaining</a></li>
        <li class="sidebar-link study" page="/study/javascript/errorHandlingWithPromises"><a href="javascript:void(0);">Error handling with promises</a></li>
        <li class="sidebar-link study" page="/study/javascript/promiseApi"><a href="javascript:void(0);">Promise API</a></li>
        <li class="sidebar-link study" page="/study/javascript/promisification"><a href="javascript:void(0);">Promisification</a></li>
        <li class="sidebar-link study" page="/study/javascript/microtasks"><a href="javascript:void(0);">Microtasks</a></li>
        <li class="sidebar-link study" page="/study/javascript/asyncAndAwait"><a href="javascript:void(0);">Async/await</a></li>

        <li class="sidebar-title sub"> - 모듈</li>
        <li class="sidebar-link study" page="/study/javascript/modulesIntroduction"><a href="javascript:void(0);">모듈 소개</a></li>
        <li class="sidebar-link study" page="/study/javascript/exportAndImport"><a href="javascript:void(0);">모듈 내보내고 가져오기</a></li>
        <li class="sidebar-link study" page="/study/javascript/dynamicImports"><a href="javascript:void(0);">동적으로 모듈 가져오기</a></li>

        <li class="sidebar-title sub"> - 기타</li>
        <li class="sidebar-link study" page="/study/javascript/eventLoopMicrotasksAndMacrotasks"><a href="javascript:void(0);">이벤트 루프와 매크로태스크, 마이크로태스크</a></li>

        <li class="sidebar-title">브라우저: 문서, 이벤트, 인터페이스</li>

        <li class="sidebar-title sub"> - 문서</li>
        <li class="sidebar-link study" page="/study/browser/browserEnvironmentSpecs"><a href="javascript:void(0);">브라우저 환경과 다양한 명세서</a></li>
        <li class="sidebar-link study" page="/study/browser/domTree"><a href="javascript:void(0);">DOM 트리</a></li>
        <li class="sidebar-link study" page="/study/browser/walkingTheDom"><a href="javascript:void(0);">DOM 탐색하기</a></li>
        <li class="sidebar-link study" page="/study/browser/searchingGetElementAndQuerySelector"><a href="javascript:void(0);">getElement*, querySelector*로 요소 검색하기</a></li>
        <li class="sidebar-link study" page="/study/browser/nodeProperties"><a href="javascript:void(0);">주요 노드 프로퍼티</a></li>
        <li class="sidebar-link study" page="/study/browser/attributesAndProperties"><a href="javascript:void(0);">속성과 프로퍼티</a></li>
        <li class="sidebar-link study" page="/study/browser/modifyingTheDocument"><a href="javascript:void(0);">문서 수정하기</a></li>
        <li class="sidebar-link study" page="/study/browser/stylesAndClasses"><a href="javascript:void(0);">스타일과 클래스</a></li>

        <li class="sidebar-title sub"> - 이벤트 기초</li>
        <li class="sidebar-link study" page="/study/browser/introductionToBrowserEvents"><a href="javascript:void(0);">브라우저 이벤트 소개</a></li>
        <li class="sidebar-link study" page="/study/browser/bubblingAndCapturing"><a href="javascript:void(0);">버블링과 캡처링</a></li>
        <li class="sidebar-link study" page="/study/browser/browserDefaultActions"><a href="javascript:void(0);">브라우저 기본 동작</a></li>
        <li class="sidebar-link study" page="/study/browser/dispatchingCustomEvents"><a href="javascript:void(0);">커스텀 이벤트 디스패치</a></li>


        <li class="sidebar-title sub"> - 브라우저에 데이터 저장하기</li>
        <li class="sidebar-link study" page="/study/browser/cookiesDocumentCookie"><a href="javascript:void(0);">쿠키와 document.cookie</a></li>
        <li class="sidebar-link study" page="/study/browser/localStorageSessionStorage"><a href="javascript:void(0);">localStorage와 sessionStorage</a></li>
        


    </ul>
</section>