<section class="sidebar-section">
    <ul class="sidebar-nav">
        <li class="sidebar-title">Application</li>
        <li class="sidebar-link selected" page="/careerCalculator"><a href="javascript:void(0);">경력기간 계산기</a></li>
        <li class="sidebar-link" page="/editor"><a href="javascript:void(0);">Editor / pdf,hwp export</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">eChart</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">fusionChart</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">pdf export</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">excel export</a></li>
        <li class="sidebar-title">Study</li>
        <li class="sidebar-title sub"> - Javascript</li>
        <li class="sidebar-link" page="/study/javascript/restParametersAndSpreadSyntax" style="font-size: 11px;"><a href="javascript:void(0);">나머지 매개변수와 스프레드 문법</a></li>
        <li class="sidebar-link" page="/study/javascript/variableScopeAndClosure" style="font-size: 11px;"><a href="javascript:void(0);">변수의 유효범위와 클로저</a></li>
    </ul>
</section>