<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>나의 공간</title>
    <%- include('../common-script.ejs') %>
    <script type="text/javascript" src="/script/common.js"></script>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <div class="body-container">
        <header class="main_header">
            <h1 class="logo">
                <a href="/" class="logo_font"><img src="/img/ic_back.png" alt="이전으로 가기" class="ic_pre" /><span class="txt">MY PLACE</span></a>
            </h1>
        </header>
        <div class="scroll-wrap">
            <%- include('./main-sidebar.ejs') %>
            <section class="body-section">
            </section>
        </div>
    </div>
</body>

<div id="save_dialog" style="display: none;">
    <input type="text" id="file_name" value=""/>
</div>

<div id="load_dialog" style="display: none;"></div>

</html>

<script id="load_dialog_template" type="x-tmpl-mustache">
    <div>
        {{#fileData}}
            <ul>
                <li>
                    <a name="load_link" href="#" style="text-decoration: underline;">{{fileName}}</a>
                </li>
                <li style="max-width: 30px;">
                    <button class="delete_load" style="cursor:pointer;">-</button>
                </li>
            </ul>
        {{/fileData}}
    </div>
</script>

<script>
    $(document).ready(function() {
        getBodyPage();

        $('.sidebar-link').click(function() {
            let url = $(this).attr('page');
            if(url) {
                url += '?pageName=' + $(this).find('a').text().replace(/ /gi, '+');
                $('.sidebar-link').removeClass('selected');
                $(this).addClass('selected');
                getBodyPage(url);
            }
        });
    });

    function getBodyPage(url) {
        url = url ?? '/careerCalculator?pageName=경력+계산기';
        $('section.body-section').load(url, function() {
            // init();
        });
    }
</script>