<section class="sidebar-section">
    <ul class="sidebar-nav">
        <li class="sidebar-title">Application</li>
        <li class="sidebar-link selected" page="/careerCalculator"><a href="javascript:void(0);">경력 계산기</a></li>
        <li class="sidebar-link" page="/editor"><a href="javascript:void(0);">Editor / pdf,hwp export</a></li>
        <li class="sidebar-link" page="/uploadPage"><a href="javascript:void(0);">upload api</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">eChart</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">fusionChart</a></li>
        <li class="sidebar-title">Modern Javascript</li>
        <li class="sidebar-title sub"> - 자바스크립트 기본</li>
        <li class="sidebar-link study" page="/study/javascript/logicalOperators"><a href="javascript:void(0);">논리 연산자</a></li>
        <li class="sidebar-link study" page="/study/javascript/nullishCoalescingOperator"><a href="javascript:void(0);">nullish 병합 연산자 '??'</a></li>
        <li class="sidebar-link study" page="/study/javascript/function"><a href="javascript:void(0);">함수</a></li>
        <li class="sidebar-link study" page="/study/javascript/arrowFunctionsTheBasics"><a href="javascript:void(0);">화살표 함수 기본</a></li>
        <li class="sidebar-title sub"> - 객체: 기본</li>
        <li class="sidebar-link study" page="/study/javascript/objectReferencesAndCopying"><a href="javascript:void(0);">참조에 의한 객체 복사</a></li>
        <li class="sidebar-link study" page="/study/javascript/garbageCollection"><a href="javascript:void(0);">가비지 컬렉션</a></li>
        <li class="sidebar-link study" page="/study/javascript/objectMethodsAndThis"><a href="javascript:void(0);">메서드와 this</a></li>
        <li class="sidebar-link study" page="/study/javascript/constructorAndOperatorNew"><a href="javascript:void(0);">new 연산자와 생성자 함수</a></li>
        <li class="sidebar-link study" page="/study/javascript/optionalChaining"><a href="javascript:void(0);">옵셔널 체이닝 '?.'</a></li>
        <li class="sidebar-title sub"> - 함수 심화학습</li>
        <li class="sidebar-link study" page="/study/javascript/restParametersAndSpreadSyntax"><a href="javascript:void(0);">나머지 매개변수와 스프레드 문법</a></li>
        <li class="sidebar-link study" page="/study/javascript/variableScopeAndClosure"><a href="javascript:void(0);">변수의 유효범위와 클로저</a></li>
        <li class="sidebar-link study" page="/study/javascript/globalObject"><a href="javascript:void(0);">전역객체</a></li>
        <li class="sidebar-link study" page="/study/javascript/functionObjectAndNFE"><a href="javascript:void(0);">객체로서의 함수와 기명함수표현식</a></li>
    </ul>
</section>