<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>나의 공간</title>
    <%- include('../common-script.ejs') %>
    <link type="text/css" rel="stylesheet" href="/style/careerCalculator.css">
    <script type="text/javascript" src="/script/careerCalculatorScript.js"></script>
</head>
<body>
    <div class="body-container">
        <header class="main_header">
            <h1 class="logo">
                <a href="/" class="logo_font"><img src="/img/ic_back.png" alt="이전으로 가기" class="ic_pre" /><span class="txt">MY PLACE</span></a>
            </h1>
        </header>
        <div class="scroll-wrap">
            <%- include('./main-sidebar.ejs') %>  
            <section class="list-section">
                
            </section>
        </div>
    </div>
</body>
</html>