<section class="sidebar-section">
    <ul class="sidebar-nav">
        <li class="sidebar-title">Application</li>
        <li class="sidebar-link selected" page="careerCalculator/careerCalculator"><a href="javascript:void(0);">경력기간 계산기</a></li>
        <li class="sidebar-title">Study</li>
    </ul>
</section>