<section class="sidebar-section">
    <ul class="sidebar-nav">
        <li class="sidebar-title">Application</li>
        <li class="sidebar-link selected" page="/careerCalculator"><a href="javascript:void(0);">경력 계산기</a></li>
        <li class="sidebar-link" page="/editor"><a href="javascript:void(0);">Editor / pdf,hwp export</a></li>
        <li class="sidebar-link" page="/uploadPage"><a href="javascript:void(0);">upload api</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">eChart</a></li>
        <li class="sidebar-link" page=""><a href="javascript:void(0);">fusionChart</a></li>
        <li class="sidebar-title">Javascript</li>
        <li class="sidebar-title sub"> - 기본</li>
        <li class="sidebar-link study" page="/study/javascript/logicalOperators"><a href="javascript:void(0);">논리 연산자</a></li>
        <li class="sidebar-link study" page="/study/javascript/nullishCoalescingOperator"><a href="javascript:void(0);">nullish 병합 연산자 '??'</a></li>
        <li class="sidebar-title sub"> - 함수 심화학습</li>
        <li class="sidebar-link study" page="/study/javascript/restParametersAndSpreadSyntax"><a href="javascript:void(0);">나머지 매개변수와 스프레드 문법</a></li>
        <li class="sidebar-link study" page="/study/javascript/variableScopeAndClosure"><a href="javascript:void(0);">변수의 유효범위와 클로저</a></li>
        <li class="sidebar-link study" page="/study/javascript/globalObject"><a href="javascript:void(0);">전역객체</a></li>
        <li class="sidebar-link study" page="/study/javascript/functionObjectAndNFE"><a href="javascript:void(0);">객체로서의 함수와 기명함수표현식</a></li>
        
    </ul>
</section>